.collections {
	padding: 97px 0 47px 0;

	&-list {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		gap: 30px;

		&__item {
			border: 1px solid #e8e8e8;
			border-radius: 12px;
			width: 540px;
			height: 484px;

			&--text {
				padding: 32px 60px 0 32px;
				p {
					font-family: font-accent;
					font-weight: 700;
					font-size: 36px;
					line-height: 1.22222;
				}
			}

			&--count {
				font-weight: 500;
				font-size: 14px;
				letter-spacing: -0.01em;
				border: 1px solid #000;
				border-radius: 2px;
				padding: 6px 24px;
				white-space: nowrap;
				cursor: pointer;
			}
		}
	}

	&__title {
		margin-bottom: 62px;
		h2 {
			font-family: font-accent;

			font-weight: 700;
			font-size: 50px;
			line-height: 1.2;
		}
	}
}

.down-row {
	display: flex;
	align-items: end;
	padding-right: 32px;
}
