.nav {
  padding-top: 35px;
}
.nav__inner {
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.nav-logo {
  width: 160px;
  height: 50px;
}
.nav {
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;

    padding-right: 48px;
    position: relative;
    &::after {
      align-items: center;
      position: absolute;
      content: "";
      top: 3px;
      right: 29px;
      bottom: 0;
      width: 16px;
      height: 16px;
      background: url("./img/chevron-down.svg") no-repeat center;
      cursor: pointer;
    }
  }
}
.right-box {
  display: flex;

  &__search {
    margin-right: 32px;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

// .right-box__search img {
//   width: 32px;
//   height: 32px;
// }
